body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    background: #000;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#loading {
    position: fixed;
    top: calc(50% - 10px);
    left: 0;
    width: 100%;
    cursor: text
}

input[type="text"] {
    border: 0;
    outline: 0;
    font-family: inherit;
    color: inherit;
    background: inherit;
    font-size: inherit;
    text-align: right;
    width: 1px
}

span:after {
    content: "#";
    animation-name: loader;
    animation-duration: 600ms;
    animation-iteration-count: infinite
}

@keyframes loader {

    0%,
    24.99% {
        content: "\\"
    }

    25%,
    49.99% {
        content: "|"
    }

    50%,
    74.99% {
        content: "/"
    }

    75%,
    99.99% {
        content: "-"
    }
}

a {
	margin-top: 20;
	color: grey;
}

#onder {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	padding-bottom: 20px
}
