body {
  user-select: none;
  color: #fff;
  background: #000;
  text-align: center;
  font-family: monospace;
  font-size: 1.5em;
}

#loading {
  position: fixed;
  width: 100%;
  top: calc(50% - 10px);
  left: 0;
  cursor: text;
  font-size: 20px;
}

a {
  margin-top: 20;
  color: #7d7d7d;
  text-decoration: none;
}

a:hover {
  color: #bdbdbd;
}

#onder {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  padding-bottom: 20px
}

h1 {
  margin-bottom: 0;
}

.main {
  margin-top: 10px;
}

.subtitle {
  margin-top: 5px;
  padding-bottom: 15px;
}