html, body {
  min-height: 100vh;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  user-select: none;
  color: #fff;
  background: #000;
  text-align: center;
  font-family: monospace;
  font-size: 1.5em;
}

.main {
  margin-top: 10px;
  flex: 1;
}

a {
  margin-top: 20;
  color: #7d7d7d;
  text-decoration: none;
}

a:hover {
  color: #bdbdbd;
}

h1 {
  margin-bottom: 0;
}

.subtitle {
  margin-top: 5px;
  padding-bottom: 15px;
  padding-left: 2rem;
  padding-right: 3rem;
}