.input {
    border: 0;
    outline: 0;
    font-family: inherit;
    color: inherit;
    background: inherit;
    font-size: inherit;
    text-align: right;
    width: 1px
}

.ppp:after {
    content: "#";
    animation-name: loader;
    animation-duration: 600ms;
    animation-iteration-count: infinite
}

.loading {
    position: fixed;
    width: 100%;
    top: calc(50% - 10px);
    left: 0;
    cursor: text;
    font-size: 20px;
}

.onder {
position: absolute;
left: 0;
bottom: 0;
width: 100%;
overflow: hidden;
padding-bottom: 20px
}

@keyframes loader {

    0%,
    24.99% {
        content: "\\"
    }
  
    25%,
    49.99% {
        content: "|"
    }
  
    50%,
    74.99% {
        content: "/"
    }
  
    75%,
    99.99% {
        content: "-"
    }
  }